<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
</head>
<body>
    <div>
        <div style="margin-left:40%;font-size:medium;">
                <h3>TO_PDF</h3>
        </div>
     <p style="margin:5px 20px 0px 20px;font-family:Arial, Helvetica, sans-serif;font-weight:lighter;font-size:medium;"><%= data%></p>
    </div>
</body>
</html>